extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Nikki

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer and Lifelong Learner


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
          p Now that THAT is out of the way, a mechanical engineer by degree and by trade (until this year), I have always loved learning new things and needed to find a career that suited that. I adopt new ideas and techniques quickly and think outside the box.
          p I have led work projects and company organizations with dozens of people. Organized office-wide and global initiatives for environmental sustainability and fundraisers.
          p This <strong><i>is</i></strong> the employee you are looking for.

      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Leadership

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 555-555-1234
          li this_is_fake@notreal.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com') LinkedIn
        a.btn-link(href='https://www.github.com/nvgrannum') GitHub
        a.btn-link(href='https://www.twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back